
<div style="margin-top: 20px; margin-bottom: 20px; word-wrap: break-word">
    <div class="col-md-12">
        <hr></hr>
        <p class="lead"><a href="./#q={{key}}"><code>{{key}}</code></a></p>
        <p class="lead">1.) Bookmark this page. The URL has your unique key</p>
        <p class="lead">2.) Whenever you need this password back; go to that bookmark.</p>
        <p class="lead">3.) Do *NOT* Share this link with anyone. Whoever has it (and pays money) can see your password.</p>
        <p class="lead">Optional.) If you don't want to bookmark it, you can just search for it with the key above:</p>
        <hr></hr>
    </div>
</div>