<div>
    <hr />
    <p class="lead">Password: <code>{{data.decrypted}}</code></p>
    <p class="lead">You Paid: {{data.price}}</p>
      {{#data.expiration}}
        <p class="lead">Password Expires On: {{data.expiration}}</p>
      {{/data.expiration}}
</div>
<form id="unlock" class="form-group">
    </hr>
    <label 
        class="std"
        for="lookup"
    >Key To Unlock Your Password</label>
    <input 
        placeholder="LOOKUP KEY" 
        id="lookup" 
        name="lookup"
        class="sq-input real"></input>
    <button id="btnSearchRecord" data-role="form" data-attr="submit" class="btn button-credit-card">SEARCH</button>
</form>