<div style="border-color: #a94442;" class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">{{message}}</a>
</div>
<form id="unlock" class="form-group">
    <label for="lookup" style="color: hsla(0,0%,10%,.7);     font-size: 13px;    font-weight: 500;" >Key To Unlock Your Password</label>
    <input name="lookup" placeholder="LOOKUP KEY" id="lookup" class="sq-input real"></input>
    <button id="btnSearchRecord" data-role="form" data-attr="submit" class="btn button-credit-card">SEARCH</button>
</form>